table {
    border-collapse: collapse;
    font-size: 30px;
    
}

td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

.white {
    background: #FFCF73;
}

.black {
    background: #7a5000;
}

tr:last-child td:first-child {
    border-left: none;
    border-bottom: none;
}
